@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Roboto:wght@900&display=swap');
.heading_2{
    font-family: 'Lato', sans-serif;
font-family: 'Roboto', sans-serif;
font-weight: bold;
font-size: 4rem;
}

.para{
    text-align: center;
    font-family: 'Lato', sans-serif;
}

.h3{
    font-family: 'Lato', sans-serif;
font-weight: bold;
font-size: 4rem;
text-align: center;
}

.p{
    font-family: 'Lato', sans-serif;
    font-size: 1 rem;
}

.h1{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 6rem;
    text-align: center;
}


.card-footer{
    background-color: white;
}

/*custom responsive google maps */
.embed-responsive-item {
    height: 100%;
    width: 100%;
}

.nav-link {
    text-transform: uppercase;
}


.navbar .navbar-nav .nav-link:hover {
    background-color: white;
    color: black;
}

.navbar .navbar-nav .nav-link {
    padding: 1em;
    transition: all 0.7s;
}

@media screen and (max-width: 991px) {
    .nav-brand {
        padding-left: .7em;
    }
    .navbar-nav{
        padding-top:1em;
    }
}